/* GENERAL STYLING */
body {
  margin: 0;
  padding: 0;
}

/* FONT STYLING */
/* Google fonts JetBrains & IBM Plex Sans:  https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=JetBrains+Mono:wght@400;600&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
}

h1, h2 {
  font-weight: 600;
}

p, a {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  text-decoration: none;
  /* CHANGE LATER */
  color: white;
}

/* CHANGE LATER */
a:hover {
  color: pink;
}